<wf-container-tela>
    <wf-titulo-tela titulo="Missão"></wf-titulo-tela>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        
        <label> -Tratar o cliente tão bem quanto nosso colaborador.</label>

        <label>  -Se tornar um excelente empresa de desenvolvimento. Um local onde as pessas aprendem a ser uma pessoa melhor. </label>
        
            <label> -Mostrar um melhor resultado em um ambiente gostoso de trabalho. O resultado são pessoas,  a evolução delas profissional e pessoal. </label>
    </div>
    <div class="col-md-2"></div>
</div>











</wf-container-tela>