<!-- <h5 class="text-muted">Login</h5> -->
<!-- <div class="form-group text-center">
    <wf-vmessage
        *ngIf="notFound"
        text="CPF ou Senha incorretos!">
    </wf-vmessage>
</div> -->
<div *ngIf="notFound" class="alert alert-danger text-center" role="alert">
    CPF ou Senha incorretos!
</div>
<form [formGroup]="loginForm" class="form mb-3" (submit)="login()">
    <div class="form-group">
        <input 
            formControlName="cpf"
            class="form-control" 
            placeholder="CPF" >  

        <wf-vmessage
            *ngIf="loginForm.get('cpf').errors?.required && loginForm.get('cpf').touched"
            text="Informe seu CPF para entrar!">
        </wf-vmessage> 

        <wf-vmessage
            *ngIf="(loginForm.get('cpf').errors?.minlength || loginForm.get('cpf').errors?.maxlength) && loginForm.get('cpf').touched"
            text="CPF incorreto!">
        </wf-vmessage> 
    </div>

    <div class="form-group">
        <input 
            formControlName="senha"
            type="password" 
            class="form-control" 
            placeholder="SENHA">  

        <wf-vmessage
            *ngIf="loginForm.get('senha').errors?.required && loginForm.get('senha').touched"
            text="Informe sua senha para entrar!">
        </wf-vmessage>
    </div>

    <button 
        [disabled]="loginForm.invalid"
        type="submit" 
        class="btn btn-primary btn-block mt-4">
        entrar
    </button>
</form>
