<wf-container-tela>
    <wf-titulo-tela titulo="Pilares"></wf-titulo-tela>
    <div class="col-md-1"></div>
        <div class="col-md-10" style="text-align: center; padding : 15px">TEXTO DE INTRODUÇÃO</div>   
        <div class="col-md-1"></div>
         <div class="row" style="margin-top: 30px;">

            <div class="col-md-1"></div>
        <div class="col-md-5" style="padding:20px">
        <h5>FOCO</h5>
        <h6 >Precisa ter foco</h6>
    </div>
    
    <div class="col-md-5" style="padding:20px">
        <h5>COMPROMETIMENTO</h5>
        <h6 >Alguém depende disso</h6>
        
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-1"></div>
    <div class="col-md-5" style="padding:20px">
        <h5>DISCIPLINA</h5>
        <h6 >Liberdade é pago com disciplina</h6>

    </div>
    
    <div class="col-md-5" style="padding:20px">
        <h5>TRANSPARENCIA</h5>
        <h6 >Para ser corrigido precisamos ver suas falhas</h6>
        
    </div>
    <div class="col-md-1"></div>
</div>
<wf-botao-voltar></wf-botao-voltar>

</wf-container-tela>